<!DOCTYPE html>
<html lang="en" ng-app="ngTodo">
<head>
    <meta charset="UTF-8">
    <script src="angular.min.js"></script>
    <script src="main.js"></script>
    <style>
        h1{
            text-align: center;
        }
        div.todo-item{
            border: 2px solid grey;
            padding: 5px;
            padding-left:20px; 
        }
        input{
            margin-right: 20px;
        }
        #todo-add-btn{
            margin-top: 10px;
            margin-bottom: 10px;
        }
    </style>
</head>
<body>
    <div ng-controller="mainController">
        <h1>Todays Todo's List</h1>
        <input type="text" placeholder="Add Todo" required ng-model="newTodo.name" >
        <input type="text" placeholder="Add Todo Details" required  ng-model="newTodo.details">
        <br>
        <button ng-click="addTodo(newTodo.name,newTodo.details)" id="todo-add-btn">Click To Add</button>
        <div class="todo-item" ng-repeat="todo in todoArray">
            <h3>{{ todo.title + " : "  }}</h3>
            <p>{{ todo.details}}</p>
            <button ng-click="removeTodo(todo.title)">Remove</button>
        </div>
    </div>
</body>
</html>